<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <title>movie</title>
</head>

<body>
    <h1>first_name: {{ninja.first_name}}</h1>
    <h2> last_name:{{ninja.last_name}}</h2>
    <h2>age:{{ninja.age}}</h2>

    <form action="../ninja/{{ninja.id}}/edit">
        <input type="submit" value="edit" />
    </form>
    <a href="/ninjas">Home</a>

</body>

</html>