*{
    margin: 0 auto;
    
}

.header{
    background-color: #9fc5f8;
color: aliceblue;
display: flex;
align-items: center;
}
.container{
    width: 800px;
    margin: 0 auto;
}
.header1{
    width: 800px;
    
    display: flex;
    align-items: center;
    border-bottom: solid black;
}
#temp{
    display: flex;
    gap: 25px;
}
.A{
   width: 150px; 
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
background-color:#eeeeee;
text-align: center;
margin: 0% auto;  
}

.mini-container{
    margin: 10px;
    display: flex;
    
    align-items: center;
}
 img{
    width:10px ;
    width:100px;
    border-radius: 50%;
}

span{
    color: red;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black;
    padding: 10px;

}
footer img{
    width:10px ;
    width:100px;
    border-radius: 50%;
}

button{
    width: 105px;
    height: 30px;
    background-color:aqua;
}