*{
    margin: 0px;
    padding: 0px;
}

.container{
    width: 600px;
    height:150px;
    border:5px solid black
}
.title1{
margin: 20px;
}
.btn{
    background-color: #ffd966;
    width: 100px;
    height: 46px;
    font-size: larger;
    font-weight: 600;
    box-shadow: 5px 10px black;
}
.d-btn{
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    margin: auto;
    margin-right: 70px;
    
}
.flex-s{
display: flex;
}
.prg{
    margin: 10px;
    font-size: x-large;
}
